@model Presentation.ApiModels.ReviewApiModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="containter">
    <form asp-action="Edit" method="post">
        <input asp-for="Id" type="hidden" />
        <input asp-for="ItemId" type="hidden"/>
        <div class="mb-3 d-flex justify-content-between align-items-center flex-row py-4">
            <div class="d-flex flex-row">
                <img class="img-fluid" width="150" height="100" src="@Model.Item.Image" alt="Alternate Text" />
                <div class="d-flex flex-column align-items-start px-2">
                    <strong class="text-dark">@Model.Item.Title</strong>
                    @if (User.IsInRole("Admin"))
                    {
                        <span>Author: @Model.ApplicationUser.Name</span>
                    }
                    <span>@Model.CreatedDate.ToString("yyyy-MM-dd")</span>
                    <span>
                        @for (int i = 0; i < Model.Rating; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                    @for (int i = 0; i < 5 - Model.Rating; i++)
                        {
                            <i class="fa fa-star-o"></i>
                        }
                    </span>
                </div>
            </div>
            <div class="d-flex flex-row gap-2">

                    <button type="submit" id="btnReview" class="btn btn-primary m-0">Update review</button>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Rating">Rating</label>
                @* <input asp-for="OrderHeader.OrderStatus" class="form-control" /> *@
                <select multiple min="1" max="5" asp-for="Rating" class="form-control h-75" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="col-10">
                <label asp-for="Comment">Comment</label>
                @* <input asp-for="OrderHeader.OrderStatus" class="form-control" /> *@
                <textarea required rows="5" asp-for="Comment" class="form-control h-75"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>
