@model Presentation.ViewModels.ItemDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-4">
    <div class="card">
        <div class="card-header">
            <h1>@Model.Item.Title</h1>
        </div>
        <div class="d-flex card-body">
            <dl class="d-flex align-items-center justify-content-center col-6">
                <img src="@Model.Item.Image" alt="Image" width="300" height="200" />
            </dl>
            <form asp-action="Details" method="post">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Item.Description)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Item.Description)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Item.Price)
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Item.Price.ToString("C")
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Item.Category)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Item.Category.Title)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Item.Subcategory)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Item.Subcategory.Title)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Count)
                    </dt>
                    <dd class="col-sm-6">
                        @* @Html.DisplayFor(model => model.Count) *@
                        <div class="form-group col-3">
                            @* <label asp-for="Count" class="control-label"></label> *@
                            <input asp-for="Count" class="form-control" />
                            <span asp-validation-for="Count" class="text-danger"></span>
                        </div>
                    </dd>
                    <div>
                        <input type="hidden" asp-for="Id" name="Id" />
                        <input type="hidden" asp-for="ItemId" name="ItemId" />
                        <input type="hidden" asp-for="ApplicationUserId" name="ApplicationUserId" />
                    </div>
                    <div>
                        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                        <input style="margin-top:0;" type="submit" class="btn btn-secondary btn-success" value="Add to cart" />
                    </div>
                </dl>
            </form>
        </div>

    </div>
</div>
@* 
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div> *@

<div class="row">
    <div class="card">
        <div class="card-header">
            <h2>User reviews (@Model.Reviews.Count())</h2>
        </div>
        <div class="card-body">
            <ul class="list-group">
                @if (Model.Reviews.Count() != 0)
                {
                    foreach (var review in Model.Reviews)
                    {
                        <li class="list-group-item">
                            <span>
                                @for (int i = 0; i < review.Rating; i ++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                @for (int i = 0; i < 5 - review.Rating; i ++)
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            </span>
                            <div class="d-flex flex-column">
                                <strong>@review.ApplicationUser.Name</strong>
                                <span>@review.CreatedDate.ToString("yyyy-MM-dd")</span>
                                <span>@review.Comment</span>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">
                        <h2>No user reviews available.</h2>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
