@model Presentation.ViewModels.ItemListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    food_delivery.ViewModels.ItemReviewsViewModel itemReview;
}
<div class="row">
    <h2>Category</h2>
    <div class="d-flex flex-row gap-2 my-2">
        <a class="btn btn-secondary" asp-action="Index">Show All</a>
        @* <label for="sa" class="btn btn-secondary">Show All</label> *@
        @* @Html.RadioButtonFor(x => categories, Model.Categories.ToList(), new { @class = "btn btn-check" }) *@
        @foreach (var category in Model.CategoriesList)
        {
            @* <label for="@category.Id" class="btn btn-secondary">@category.Title</label> *@
            <a id="@category.Id" class="btn btn-secondary" asp-action="GetByCategory" asp-route-id="@category.Id">@category.Title</a>
@*             @Html.RadioButtonFor(x => categories, Model.Categories.Where(x => x.Id == category.Id).ToList(), new { @class = "btn btn-check" }) *@
        }
    </div>
</div>
<div>
    <div class="row">
        <div class="d-flex flex-column gap-2">
            @foreach (var category in Model.Categories)
            {
                <div class="col-2 h2">@category.Title</div>
                <div class="d-flex flex-column">
                    @foreach (var item in Model.Items.Where(x => x.CategoryId == category.Id))
                    {
                        <div class="mb-2 d-flex flex-row justify-content-sm-between p-2 border">

                            <div class="d-flex flex-row">
                                    <img class="img-fluid" src="@item.Image" width="150" height="100" alt="Image">
                                <div class="px-4 d-flex justify-content-start flex-column">
                                    <strong>@item.Title</strong>
                                    <span>@item.Description</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center gap-4 px-4">
                                <div class="px-4">
                                    <div>(@item.TotalReviewsCount) users reviewed this item</div>
                                    @if (item.TotalReviewsCount != 0)
                                    {
                                        @for (double i = 0; i < Math.Floor(item.AverageRating); i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        @if (Math.Floor(item.AverageRating) != item.AverageRating)
                                        {
                                            <i class="fa fa-star-half-o"></i>
                                        }
                                        @for (double i = 0; i < 5 - Math.Ceiling(item.AverageRating); i++)
                                        {
                                            <i class="fa fa-star-o"></i>
                                        }
                                        <span>(@((item.AverageRating / 5 * 100).ToString("."))%)</span>
                                    }
                                </div>
                                <div class="h2">
                                    @item.Price.ToString("C")
                                </div>
                                <div class="">
                                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
