@model IEnumerable<food_delivery.Models.Review>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-6">
    <h2 class="text-primary">List of Reviews</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Title)
            </th>
            <th>
                @if (User.IsInRole("Admin")) 
                {
                    <>User</>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="">
            <td class="col-1">
                <img class="img-fluid" width="100" height="100" src="@item.Item.Image" alt="Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Title)
            </td>
            <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            } 
            </td>
            <td>
                @for (int i = 0; i < item.Rating; i++)
                {
                    <i class="fa fa-star"></i>
                }
                @for (int i = 0; i < 5 - item.Rating; i++)
                {
                    <i class="fa fa-star-o"></i>
                }
            </td>
            <td>
                @item.CreatedDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                <div class="d-flex justify-content-end gap-2">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                </div>
                @* @Html.ActionLink("Rate", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
